body {
  background-color: #212121;
  color: #212121;
}

.card {
  float: left;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.hand {
  overflow: auto;
}

.covered img {
  display: none;  
}

.covered {
  background-color: black;
}

.container {
  background-color: #00796B;
  width: 50%;
  margin: 5% auto;
  border: 5px solid #727272;
  border-style: outset;
  text-align: center;
  padding: 10px;
}

button {
  height: 5%;
  width: 15%;
  margin: 3px;
  background-color: #727272;
  font-weight: bold;
  font-size: 15px;
  color: #212121;
}


