body {
  background-color: #2c6d65;
}

.card {
  float: left;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.hand {
  overflow: auto;
}

.covered img {
  display: none;  
}

.covered {
  background-color: black;
}
